<mat-toolbar class="app-header">
    <button mat-icon-button class="icon-pad" aria-label="A button | add new to-do task."
        (click)="onAdd();filterInput.value='';">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button class="icon-pad" aria-label="A button | change the order of list."
        (click)="onSort()">
        <mat-icon>sort</mat-icon>
    </button>
    <input #filterInput type="text" matInput class="icon-pad margin-left" placeholder="Search"
        aria-label="A input | search list by word." [ngModel]="searchWord"
        (ngModelChange)="onFilter($event)">
    <span class="align-center">A simple to-do-list</span>
</mat-toolbar>