<mat-toolbar></mat-toolbar>
<ng-container *ngFor="let key of listDataService.keys">
    <mat-toolbar [color]="listDataService.getIsCompleted(key) ? 'accent':'warn'">
        <mat-checkbox
            class="icon-pad"
            aria-label="A checkbox | disply whether the task has completed."    
            [checked]="listDataService.getIsCompleted(key)"
            (change)="checkCompleted(key)"
            >
        </mat-checkbox>
        <input
            type="text"
            matInput
            class="width-full"
            placeholder="Task description"
            aria-label="A input | disply the description of a task."
            [value]="listDataService.getDescription(key)"
            (change)="listDataService.setDescription(key, $any($event.target).value)"
            >
        <span class="spacer"></span>
        <button
            mat-icon-button
            class="icon-pad"
            aria-label="A button | delete this task."
            (click)="onDeleteByKey(key, $event)"
            >
            <mat-icon>delete</mat-icon>
        </button>
    </mat-toolbar>
</ng-container>